.viewer-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .viewer {
    width: 100%;
    height: 100%;

    &.scroll {
      height: 220px;
      
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      

      .image-wrapper {
        padding: 8px;
        &:hover {
          cursor: pointer;
        }
        &:active {
          cursor: grab;
        }
        &.big-size-view {
          & > img {
            &:hover {
              transform: scale(1.1);
            }
            background-color: red !important;
            transition: all 1.2s ease;
          }
        }
        & > img {
          transform: scale(0.9);
        }
      }
    }
    .image-wrapper {
      display: inline-block;
      height: 100%;
      width: 100%;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.viewer-wrapper {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
