@import "utils";

.footer {
  .footer__banner {
    height: 200px;
    .wrapper {
      display: flex;
      flex-direction: row;
      height: 100%;
      .left-banner,
      .right-banner {
        display: inherit;
        flex: 1;
        height: 100%;
        width: 50%;
        overflow: hidden;
        position: relative;
      
        .banner__title {
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
        }
        picture {
          width: 70%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            position: relative;
            transition: transform 0.2s;
            &:hover {
              transform: scale(1.1);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .footer__site-map {
    display: flex;
    flex: 0 0 auto;
    height: 250px;
    .wrapper {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      padding: 20px;
      .site-container {
        border-left: 1px solid #ededed;
        flex: 1;
        padding-left: 8px;
        .title {
          font-size: 17px;
          font-weight: bold;
          color: $default_ul_title_color;
        }
        .ul-wrapper {
          ul {
            li {
              width: 50%;
              float: left;
              color: $default_li_color;
              transition: all 0.2s ease;
              &:hover {
                color: rgb(47, 8, 187);
                cursor: pointer;
              }
              ul {
                li {
                  width: 100%;
                  float: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer__comopay-info {
    background-color: #f4f4f4;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 50px;
    .wrapper {
      width: 80%;
      margin: 0 auto;
      .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        -ms-flex-direction: row;
        align-items: center;
        font-size: 18px;
        img {
          width: 80px;
          margin-right: 30px;
        }
        div {
          width: 150px;
          a {
            text-decoration: none;
            color: #000;
            &:hover {
              color: $hover_color;
            }
          }
        }
      }
      .body {
        width: 100%;
        .address {
          font-size: 14px;
        }
      }
    }
  }
}
