@import "utils";

.button-container {
  width: 150px;
  height: 100%;
  margin: 0 auto;

  .button {
    width: 100%;
    height: 100%;
    border: 2px solid #344bd4;
    border-radius: 50px;
    font-size: 20px;
    color: #344bd4;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      background: linear-gradient(to right, rgba(255, 90, 111, 1) 0%, rgba(255, 172, 111, 1) 100%);
      opacity: 0.1;
    }
    &:hover {
      color: #fff;
      cursor: pointer;
      &:after {
        border-radius: 50px;
        z-index: -1;
        width: 100%;
        opacity: 1;
      }
    }
  }
}
