@import "utils";

.product-card-container {
  flex: 1 1 auto;
  height: 300px;
  
  &:nth-child(n+2) {
    border-left: 1px dashed #d9d9d9
  }
  .product-card__header {
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 170px;
    .custom-icons {
      margin: 0 auto;
      font-size: 1em;
      @include custom_icon_color;
    }
  }
  .product-card__body {
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    color: #23359d;
    letter-spacing: -0.65px;
  }
  .product-card__footer {
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
}
