.main-container {
  width: 100%;
  .main-visual {
    height: 734px;
    background: linear-gradient(#0b1a6d 25%, #5f55a5);
  }
  .main-content {
    position: relative;
    .product-introduce-container {
        padding-top: 80px;
      .product-introduce__title {
        width: 200px;
        height: 50px;
        line-height: 50px;
        font-size: 40px;
        margin: 0 auto;
      }
      .product-introduce__contents {
          display: flex;
          flex-direction: row;
          height: 380px;
          padding: 50px;
      }
    }
    .news-container {
      padding-top: 80px;
      margin-bottom: 160px;
      .area {
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid red;
        display: flex;
        flex-direction: row;
        .area__main {
          flex: 1 0 40%;
          height: 500px;
        }
        .area__sub {
          flex: 1 0 60%;
          height: 500px;
          .top {
            height: 300px;
          }
          .bottom {
            height: 200px;
          }
        }
      }
    }
  }
}
