/**
* default
*/
$hover_color: #70ddfe;
$default_ul_title_color: #999;
$default_li_color: #989898;

/**
* @mixin
*/
@mixin custom_icon_color {
  color: transparent;
  background: linear-gradient(45deg, rgba(#72379c, 0.2) 10%, rgba(#0b1a6d, 0.6), #5f55a5);
  background: -moz-linear-gradient(45deg, rgba(#72379c, 0.2) 10%, rgba(#0b1a6d, 0.6), #5f55a5);
  background: -webkit-linear-gradient(45deg, rgba(#72379c, 0.2) 10%, rgba(#0b1a6d, 0.6), #5f55a5);
  -webkit-background-clip: text;
  background-clip: text;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
/**
* material-icons
*/
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff) format("woff"),
    url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
