.App {
  text-align: center;
  width: 100%;
  position: relative;

  #mainContainer {
    margin: 0;
    padding: 0;
  }
}

:global * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
